# Flask settings
SECRET_KEY="fbf49fcc05fb43047d9c8ff907763b9e"

# Webhook settings
WEBHOOK_VERIFY_TOKEN="1xoc2DB556GurWWGsWegoFxT0Mtl0Qfqdec6fMmoP5A="
WEBHOOK_SECRET="f9928d234e6d3879e326b437b945d39c326c382a2c9ea054de7276edf4b5eecc"

# Environment settings
FLASK_APP=run.py
FLASK_ENV=development
